body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header {
  color: #ff5776;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1.5px;
  line-height: 35px;
  margin: 0 auto 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: #ff5776;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 35px;
  margin: 0 auto 15px 0;
  font-weight: bold;
}

p {
  vertical-align: middle;
  margin-bottom: 5px;
}

.footer-and-badge {
  background-color: black; 
  height: 100px;
  color: white; 
  text-align: center;
}

#secretHeart {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 16px;
  opacity: 0.15;
  text-decoration: none;
  z-index: 9999;    
  transition: 0.3s ease;
  pointer-events: auto;
}

#secretHeart:hover {
  opacity: 1;
  transform: scale(1.4);
}


